:root {
  --main-text-color: #2a2a2a;
  --light-text-color: #ffffff;
  --dark-text-color: #000000;
  --accent-color: #839c04;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

body {
  font-family: 'Mulish', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
}

button {
  width: 140px;
  height: 50px;
  font-family: 'Mulish';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.02em;
  border-radius: 30px;
  cursor: pointer;
}

.dark-button {
  background: var(--main-text-color);
  color: var(--light-text-color);
  border: none;
}

.dark-button:hover {
  background: var(--light-text-color);
  color: var(--main-text-color);
}

.dark-button-transparent {
  background: transparent;
  color: var(--main-text-color);
  border: 1px solid var(--main-text-color);
}

.dark-button-transparent:hover {
  background: var(--main-text-color);
  color: var(--light-text-color);
}

.light-button-transparent {
  background: transparent;
  color: var(--light-text-color);
  border: 1px solid var(--light-text-color);
}

.light-button-transparent:hover {
  background: var(--light-text-color);
  color: var(--main-text-color);
}

/*header*/
.header {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 120px;
  font-size: 16px;
  margin-bottom: 10px;
}

.header svg {
  width: 120px;
  height: 46.4px;
}

.header svg:hover {
  fill: var(--accent-color);
}

.header .list {
  display: flex;
}

.menu-item {
  text-transform: uppercase;
}

.menu-item:hover {
  font-weight: 700;
  color: var(--accent-color);
}

.menu-item:not(:last-child) {
  margin-right: 40px;
}

.header-contacts {
  display: flex;
  align-items: center;
}

.header-phone {
  font-weight: 500;
  margin-right: 40px;
}

.header-phone:hover {
  color: var(--accent-color);
}

.header-contacts button:hover {
  background: var(--accent-color);
  color: var(--light-text-color);
}

/*hero*/

.hero {
  position: relative;
}

.hero-image {
  max-width: 100%;
  margin: 0 auto;
}

.hero-text {
  height: 283px;
  width: 500px;
  position: absolute;
  left: 467px;
  bottom: 132px;
  background: var(--light-text-color);
  color: var(--main-text-color);
  border-radius: 30px;
  padding: 30px;
  letter-spacing: 0.02em;
}

.hero-title {
  font-family: 'Cormorant Unicase', serif;
  font-size: 30px;
  padding-bottom: 20px;
  line-height: 1.2;
  letter-spacing: 0.04em;
}

.close-icon {
  width: 15px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.hero-buttons {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}

/*design*/
.design {
  margin: 120px auto;
  padding: 0 120px;
}

.design-title {
  font-family: 'Cormorant Unicase',
    serif;
  font-size: 60px;
  padding-bottom: 50px;
  line-height: 1.22;
  letter-spacing: 0.04em;
}

.design-text {
  width: 825px;
}

.design-info {
  display: flex;
  justify-content: space-between;
}

.design-image {
  margin: 60px auto 120px auto
}

/*services*/
.services-scrolled {
  overflow-x: scroll;
  padding: 0 120px;
}

.services-title {
  width: 825px;
  margin: 0 100px 60px auto;
  font-family: 'Cormorant Unicase',
    serif;
  font-size: 60px;
  line-height: 1.22;
  letter-spacing: 0.04em;
  color: rgba(42, 42, 42, 0.15);
}

.services-list {
  display: flex;
  width: max-content;
  overflow-y: hidden;
}

.services-item {
  height: 600px;
  width: 540px;
  position: relative;
}

.services-item:not(:last-child) {
  margin-right: 30px;
}

.services-item button {
  position: absolute;
  top: 20px;
  right: 20px;
}

.services-item button:hover {
  background: var(--light-text-color);
  color: var(--main-text-color);
}

.services-text {
  width: 400px;
  position: absolute;
  bottom: 40px;
  left: 40px;
  font-family: 'Cormorant Unicase',
    serif;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: var(--light-text-color);
}

/*about us*/
.about-us {
  margin: 120px auto;
  padding: 0 120px;
  display: flex;
  justify-content: space-between;
}

.about-us-frame {
  width: 755px;
  position: relative;
  font-family: 'Cormorant Unicase',
    serif;
  font-size: 60px;
  line-height: 1.2;
  letter-spacing: 0.04em;
}

.about-us-description {
  width: 825px;
}

.about-us-description-title {
  font-family: 'Cormorant Unicase',
    serif;
  font-size: 50px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: var(--main-text-color);
  margin-bottom: 40px;
}

.about-us-description button {
  margin-top: 40px;
  width: 180px;
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: center;
}

.about-us-frame-main {
  width: 415px;
  position: absolute;
  top: 0;
  right: 100px;
  color: var(--main-text-color);
}

.about-us-frame-accent {
  width: 655px;
  position: absolute;
  bottom: 80px;
  right: 100px;
  color: var(--accent-color);
}

/*portfolio*/
.portfolio {
  padding: 0 120px;
}

.portfolio-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.portfolio-header button {
  width: 180px;
}

.portfolio-title {
  font-family: 'Cormorant Unicase',
    serif;
  font-size: 50px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: var(--main-text-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-item {
  cursor: pointer;
}

.portfolio-item:hover {
  color: var(--accent-color);
}

.location {
  display: flex;
  justify-content: space-between;

}

.portfolio-item:nth-child(-n + 3) {
  margin-bottom: 60px;
}

.location p:first-child {
  font-family: 'Cormorant Unicase',
    serif;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 0.04em;
}

/*points*/
.points {
  padding: 0 120px;
  margin: 120px auto;
  display: flex;
  justify-content: space-between;
}

.points-sketch {
  height: 594px;
}

.points-item {
  display: flex;
  align-items: baseline;
  width: 967px;
}

.points-list p {
  font-family: 'Cormorant Unicase',
    serif;
  font-size: 50px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  display: flex;
  align-items: center;
}

.points-item p:first-child {
  margin-right: 5px;
  font-weight: 500;
  font-size: 60px;
  color: var(--accent-color);
}

.points-item p:nth-child(2) {
  margin-right: 10px;
  font-size: 30px;
  color: var(--accent-color);
}

.points-item p:last-child {
  font-size: 30px;
}

/*begma-studio*/
.begma-studio {
  margin-bottom: 120px;
  padding: 0 332px;
}

.begma-studio p:first-child {
  font-family: 'Cormorant Unicase',
    serif;
  font-size: 50px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.begma-studio p:nth-child(3) {
  margin: 29px 0;
}

/*connection*/
.connection {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
  padding: 0 120px;
}

.connection-form {
  display: flex;
  flex-direction: column;
  width: 755px;
  background: var(--accent-color);
  border-radius: 30px;
  padding: 60px 70px;
}

.connection-form input {
  font-family: 'Mulish',
    sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.02em;
  border: none;
  background: none;
  border-bottom: 1px solid white;
  margin-bottom: 30px;
  color: white;
  padding-bottom: 10px;
}

.connection-form input:focus {
  outline: none;
}

.connection-form input::placeholder {
  color: white;
}

.budget-range {
  display: flex;
  flex-direction: column;
  color: white;
}

.connection-form button {
  width: 100%;
  margin-bottom: 20px;
}

.checkbox {
  color: var(--light-text-color);
  font-size: 14px;
}

.checkbox .policy {
  text-decoration: underline;
  cursor: pointer;
}

.connection-title {
  font-family: 'Cormorant Unicase',
    serif;
  font-size: 50px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-align: center;
  margin-bottom: 60px;
}

.connection-faq {
  display: flex;
  flex-direction: column;
  margin: auto 0;
  width: 825px;
}

.connection-faq-title {
  display: flex;
}

.connection-faq-title img {
  cursor: pointer;
}

.connection-item:not(:last-child) {
  margin-bottom: 40px;
}

.question {
  font-family: 'Cormorant Unicase',
    serif;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  margin-left: 20px;
}

.question-text {
  margin: 30px 0 0 56px;
}

/*footer*/
.footer {
  padding: 63px 120px 0 120px;
  margin-bottom: 60px;
}

.footer .menu-item:not(:last-child) {
  margin-bottom: 30px;
}

.footer-contacts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.footer-title {
  font-family: 'Cormorant Unicase',
    serif;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  margin-bottom: 20px;
}

.contacts-item {
  font-weight: 500;
  color: var(--accent-color);
}

.contacts-item:nth-child(1) {
  margin-bottom: 5px;
}

.contacts-item:nth-child(3) {
  margin-bottom: 15px;
}

.schedule:not(:last-child) {
  margin-bottom: 15px;
}

.schedule span {
  color: rgba(42, 42, 42, 0.5);
}

.socials {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.footer svg {
  width: 40px;
  height: 40px;
  padding: 8px;
  fill: var(--accent-color);
  cursor: pointer;
}

.footer svg:hover {
  background-color: var(--accent-color);
  fill: var(--light-text-color);
  border-radius: 10px;
}

.footer-navigation {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.up-text {
  font-family: 'Cormorant Unicase',
    serif;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  margin: 5px 0 60px 0;
  color: var(--accent-color);
}

.languages {
  display: flex;
  font-family: 'Cormorant Unicase',
    serif;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: var(--accent-color);
}

.languages p {
  padding: 0 5px;
}

.languages a:nth-child(1) {
  text-decoration: underline;
}

.footer-policy {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  font-size: 16;
  color: rgba(42, 42, 42, 0.5);
}

.footer-policy a {
  text-decoration: underline;
  cursor: pointer;
}

.seok {
  display: flex;
  align-items: center;
}

.seok p {
  font-size: 16px;
}

.seok img {
  margin-right: 15px;
  height: 16px;
}